
.searchBar {
    margin: auto;
    margin-top: 50px;
    background-color: rgb(33,33,33);
    padding: 50px;
    width: 500px;
    height: 350px;
    border-radius: 20px;
}


@media (max-width: 500px) {
    
    .searchBar{
        width: 95%;
        
    }
}
  