@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');

*{
    font-family: 'Roboto Condensed', sans-serif;
   
}

body {
    background-color: rgb(13,17,23);
  }
  
 p{
    margin: 0;
 }